/Week 1/Nomor1/nbproject/private/
/Week 1/APPL1_Week1_Nomor1/nbproject/private/
/Week 1/APPL1_Week1_Nomor1/build/
/Week 1/APPL1_W1_N3/nbproject/private/
/Week 1/APPL1_W1_N3/build/
/Week 1/APPL1_W1_N5/nbproject/private/
/Week 1/APPL1_W1_N6/nbproject/private/
/Week 1/APPL1_W1_N6/build/
/Week 1/APPL1_W1_N7/nbproject/private/